@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CD-Skivor</h1>
    <p>Denna sida hanterar CD-skivor och utlåning av dessa.
        Webbapplikationen bygger på designmöstret MVC och SQLite-server.
    </p>
    <p>Hanteringen av skivor och utlåning har full CRUD-funktionalitet.</p>
</div>
